/* Load Inter locally */
@font-face {
  font-family: "InterVariable";
  font-style: normal;
  src: url("../public/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

/* @font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
} */

/* Import Tailwind v4 */
@import "tailwindcss";

/* Set Inter as the global font (with fallback) */
:root {
  --font-sans: "InterVariable", sans-serif;
}

/* Apply to the entire site */
html {
  font-family: var(--font-sans);
}
